<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= user %>!</h1>
    <p>Welcome to <%= title %></p>
    <img src="/images/secret.jpg" alt="">
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </body>
</html>
